<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-light table-responsive table-stripped">
                <thead>
                  <tr>
                    
                    <th >Product Code</th>
                    <th >Product </th>
                    <th >Manufacture Date</th>
                    <th>Expiry Date</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Seller</th>
                    <th>Distributor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>



                  </tr>
                
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>
